﻿@model IEnumerable<string>


<h2>@RayCourse.Resources.Common.MostFavourite</h2>

<ol type="1">
    @foreach (var user in Model)
    {
        <li>
            <a href="/user/@user">@user</a>
        </li>
    }
</ol>