﻿@model RayCourse.Web.Models.Profile.ShowViewModel

@{
    ViewBag.Title = Model.Nickname;
}

<h2>@Model.Nickname</h2>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                @RayCourse.Resources.Common.Information
            </div>
            <div class="panel-body">
                <p class="socials">
                    @if (Model.Facebook != null)
                    {
                        <a class="facebook" href="@Model.Facebook"></a>
                    }
                    @if (Model.Google != null)
                    {
                        <a class="google" href="@Model.Google"></a>
                    }
                    @if (Model.Twitter != null)
                    {
                        <a class="twitter" href="@Model.Twitter"></a>
                    }
                    @if (Model.LinkedIn != null)
                    {
                        <a class="linkedIn" href="@Model.LinkedIn"></a>
                    }
                </p>
                <p style="clear: left;">
                    @Model.FirstName @Model.LastName
                </p>
                <p>
                    @if (Model.City != null || Model.Country != null)
                    {
                        <span>@RayCourse.Resources.Common.from</span>
                        if (Model.City != null)
                        {
                            <span>@Model.City,</span>
                        }
                        @Model.Country
                    }
                </p>
                <p>
                    <a href="@Model.Website">@Model.Website</a>
                </p>
                @if (Model.About != null)
                {
                    <p class="well">
                        @Model.About
                    </p>
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <fieldset data-bind="with: coursesViewModel">
            <legend>@RayCourse.Resources.Common.Courses</legend>
            <div data-bind="css: {hidden: courses().length == 0}">
                <div data-bind="foreach: courses">
                    <div class="panel panel-primary">
                        <div data-bind="text: name, click: toggleActive" class="panel-heading">

                        </div>
                        <div class="panel-body" data-bind="css:{hidden: active() == false}">
                            <p data-bind="text: description">
                            </p>
                            <a data-bind="attr:{href:'/course/'+id}">@RayCourse.Resources.Common.GoToCourse</a>
                        </div>
                    </div>
                </div>
                <ul class="pagination" data-bind="foreach: pages">
                    <li data-bind="css:{active: $data == $parent.page()}">
                        <a href="javascript:;" data-bind="text: $data, click: $parent.goToPage"></a>
                    </li>
                </ul>
            </div>
            <div data-bind="css: {hidden: courses().length > 0}">
                @RayCourse.Resources.Common.NoCourses
            </div>
        </fieldset>
    </div>
    <div class="col-md-4">
        <fieldset data-bind="with: favouriteCoursesViewModel">
            <legend>@RayCourse.Resources.Common.FavouriteCourses</legend>
            <div data-bind="css: {hidden: courses().length == 0}">
                <div data-bind="foreach: courses">
                    <div class="panel panel-primary">
                        <div data-bind="text: name, click: toggleActive" class="panel-heading">

                        </div>
                        <div class="panel-body" data-bind="css:{hidden: active() == false}">
                            <p data-bind="text: description">
                            </p>
                            <a data-bind="attr:{href:'/course/'+id}">@RayCourse.Resources.Common.GoToCourse</a>
                        </div>
                    </div>
                </div>
                <ul class="pagination" data-bind="foreach: pages">
                    <li data-bind="css:{active: $data == $parent.page()}">
                        <a href="javascript:;" data-bind="text: $data, click: $parent.goToPage"></a>
                    </li>
                </ul>
            </div>
            <div data-bind="css: {hidden: courses().length > 0}">
                @RayCourse.Resources.Common.NoFavouriteCourses
            </div>
        </fieldset>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/knockout")
    <script>

        var nickname = "@Model.Nickname";

        var Course = function (id, description, name, urlName) {
            var self = this;

            self.id = id;
            self.name = name;
            self.description = description;
            self.urlName = urlName;
            self.active = ko.observable(false);

            self.toggleActive = function () {
                self.active(!self.active());
            }
        }

        var viewModel = {
            coursesViewModel: {
                courses: ko.observableArray([]),
                page: ko.observable(1),
                pages: ko.observableArray([]),
                goToPage: function (page) {
                    viewModel.coursesViewModel.page(page);
                    viewModel.coursesViewModel.courses([]);
                    viewModel.coursesViewModel.getCourses();
                },
                getCourses: function () {
                    $.ajax({
                        url: '/api/user/' + nickname + '/courses/' + viewModel.coursesViewModel.page(),
                        type: 'get',
                        success: function (data) {
                            for (var i = 0; i < data.length; i++) {
                                viewModel.coursesViewModel.courses.push(new Course(data[i].Id, data[i].Description, data[i].Name));
                            }
                        }
                    });
                },
                getPageCount: function () {
                    $.ajax({
                        url: '/api/user/' + nickname + '/courses/page-count',
                        type: 'get',
                        success: function (data) {
                            console.log(data);
                            for (var i = 1; i <= data; i++) {
                                viewModel.coursesViewModel.pages.push(i);
                            }
                        }
                    });
                }
            },
            favouriteCoursesViewModel: {
                courses: ko.observableArray([]),
                page: ko.observable(1),
                pages: ko.observableArray([]),
                goToPage: function (page) {
                    viewModel.favouriteCoursesViewModel.page(page);
                    viewModel.favouriteCoursesViewModel.courses([]);
                    viewModel.favouriteCoursesViewModel.getCourses();
                },
                getCourses: function () {
                    $.ajax({
                        url: '/api/user/' + nickname + '/favourite-courses/' + viewModel.favouriteCoursesViewModel.page(),
                        type: 'get',
                        success: function (data) {
                            for (var i = 0; i < data.length; i++) {
                                viewModel.favouriteCoursesViewModel.courses.push(new Course(data[i].Id, data[i].Description, data[i].Name));
                            }
                        }
                    });
                },
                getPageCount: function () {
                    $.ajax({
                        url: '/api/user/' + nickname + '/favourite-courses/page-count',
                        type: 'get',
                        success: function (data) {
                            console.log(data);
                            for (var i = 1; i <= data; i++) {
                                viewModel.favouriteCoursesViewModel.pages.push(i);
                            }
                        }
                    });
                }
            },
            loadData: function () {
                viewModel.coursesViewModel.getCourses();
                viewModel.coursesViewModel.getPageCount();
                viewModel.favouriteCoursesViewModel.getCourses();
                viewModel.favouriteCoursesViewModel.getPageCount();
            }
        };
        $(document).ready(function () {
            ko.applyBindings(viewModel);
            viewModel.loadData();
        });
    </script>
}