﻿@model RayCourse.Web.Areas.Admin.Models.Logs.IndexViewModel

@{
    ViewBag.Title = "Logs";
}

<h2>Logs</h2>

@Html.Partial("_LogsMenu")

<ul class="pager">
    @if (Model.Page > 1)
    {
        <li class="previous">
            <a href="/admin/logs?page=@(Model.Page-1)">Prev</a>
        </li>
    }
    <li class="next">
        <a href="/admin/logs?page=@(Model.Page+1)">Next</a>
    </li>
</ul>

<ul class="list-unstyled">
    @foreach (var log in Model.Logs)
    {
        <li>
            <div class="well">
                @log.DateTime<br />
                @log.Method @log.Uri<br />
                @if (!String.IsNullOrEmpty(@log.Area))
                {
                    <span>@log.Area -></span>
                }
                @log.Controller -> @log.Action
                <pre class="params">@log.Params</pre>
                @log.IP -
                @if (String.IsNullOrEmpty(@log.Email))
                {
                    <span>
                        Unauthorized
                    </span>
                }
                else
                {
                    <span>@log.Email</span>
                }
            </div>
        </li>
    }
</ul>

<ul class="pager">
    @if (Model.Page > 1)
    {
        <li class="previous">
            <a href="/admin/logs?page=@(Model.Page-1)">Prev</a>
        </li>
    }
    <li class="next">
        <a href="/admin/logs?page=@(Model.Page+1)">Next</a>
    </li>
</ul>

@section scripts{
    <script>
        $(document).ready(function () {
            $(".params").each(function () {
                var json = JSON.stringify(JSON.parse($(this).html()), null, 4);
                console.log(json);
                $(this).html(json);
            });
        });
    </script>
}