﻿@model Dictionary<string, int>
@{
    ViewBag.Title = "MostActive";
}

<h2>MostActive</h2>

@Html.Partial("_LogsMenu")

<ul class="list-group">
    @foreach (var user in Model)
    {
        <li class="list-group-item">
            @if (String.IsNullOrEmpty(user.Key))
            {
                <span>Unauthorized</span>
            }
            else
            {
                <span>@user.Key</span>
            }
            <span> -> @user.Value</span>
        </li>
    }
</ul>