﻿@model RayCourse.Web.Areas.Admin.Models.Logs.UsageViewModel

@{
    ViewBag.Title = "Usage";
}

<h2>Usage</h2>

@Html.Partial("_LogsMenu")

<ul class="list-group">
    @foreach (var controller in Model.Controllers)
    {
        <li class="list-group-item">
            <h5>
                @if (!String.IsNullOrEmpty(controller.Area))
                {
                    <span>@controller.Area -> </span>
                }
                @controller.Name (@controller.Actions.Values.Sum())
            </h5>
            <div class="row">
                <div class="col-md-4">
                    <div>Actions</div>
                    <ul>
                        @foreach (var action in controller.Actions)
                        {
                            <li>
                                @action.Key (@action.Value)
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-md-4">
                    <div>Methods</div>
                    <ul>
                        @foreach (var method in controller.Methods)
                        {
                            <li>
                                @method.Key (@method.Value)
                            </li>
                        }
                    </ul>
                </div>
            </div>

        </li>
    }
</ul>
