﻿@model RayCourse.Web.Models.Test.ShowViewModel

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>
<p>
    <a href="/course/@Model.Course">@RayCourse.Resources.Common.BackToCourse</a>
</p>
<div class="panel panel-default">
    <div class="panel-body">
        <div data-bind="with: question" class="row">
            <div class="col-md-offset-1 col-md-4">
                <p data-bind="html: title">
                </p>
                <div data-bind="css: { hidden: $root.isChecked }">
                    <div data-bind="css:{hidden: multipleAnswers == false}, foreach: answers">
                        <div>
                            <input type="checkbox" data-bind="attr:{id:'m-answer-'+$index()}, checked: checked" />
                            <label data-bind="attr:{ for: 'm-answer-'+$index() }, text: content"></label>
                        </div>
                    </div>
                    <div data-bind="css:{hidden: multipleAnswers}, foreach: answers">
                        <div>
                            <input type="radio" name="answers" data-bind="attr:{id:'answer-'+$index()}, checked: checked" />
                            <label data-bind="attr:{ for: 'answer-'+$index() }, text: content"></label>
                        </div>
                    </div>
                    <button data-bind="click: $root.check" class="btn btn-default">@RayCourse.Resources.Common.Check</button>
                </div>
                <div data-bind="css: { hidden: !$root.isChecked() }">
                    <ul class="list-unstyled" data-bind="foreach: answers">
                        <li>
                            <span data-bind="text: content"></span>
                            <span class="glyphicon glyphicon-remove" style="color: red;" data-bind="css:{hidden: !isAnswered || isTrue}">
                            </span>
                            <span class="glyphicon glyphicon-ok" style="color:green" data-bind="css: {hidden: !isTrue}">
                            </span>
                        </li>
                    </ul>
                    <button class="btn btn-default" data-bind="css:{ hidden: $root.questionsCount == $root.currentQuestion() + 1 }, click: $root.nextQuestion">@RayCourse.Resources.Common.Next</button>
                </div>
            </div>
            <div class="col-md-6">
                <p class="well" data-bind="css:{hidden: description == undefined}, html: description">
                </p>
            </div>
        </div>
    </div>
</div>



@section scripts{
    @Scripts.Render("~/bundles/knockout")
    <script>
        var id = @Model.Id;
        var Answer = function (id, content, isTrue, isAnswered) {
            var self = this;
            self.id = id;
            self.content = content;
            self.checked = ko.observable(false);
            self.isTrue = isTrue;
            self.isAnswered = isAnswered;
        }

        var Question = function (title, answers, multipleAnswers, description) {
            var self = this;
            self.title = title;
            self.answers = answers;
            self.multipleAnswers = multipleAnswers;
            self.description = description;
        }

        var viewModel = {
            questionsCount: @Model.QuestionsCount,
            currentQuestion: ko.observable(0),
            question: ko.observable(),
            getQuestion: function () {
                $.ajax({
                    url:'/api/test/'+id+'/question/'+viewModel.currentQuestion(),
                    type: 'get',
                    success: function(data){
                        var answers = [];
                        for(var i=0; i<data.Answers.length; i++){
                            answers.push(new Answer(data.Answers[i].Id, data.Answers[i].Content));
                        }
                        viewModel.question(new Question(data.Title, answers, data.MultipleAnswers));
                    }
                });
            },
            check: function(){
                var answers = [];
                var question = viewModel.question();
                for(var i=0; i<question.answers.length; i++){
                    if(question.answers[i].checked()){
                        answers.push(question.answers[i].id);
                    }
                }
                console.log();
                $.ajax({
                    url:'/api/test/'+id+'/question/'+viewModel.currentQuestion(),
                    type: 'post',
                    data: $.param({Answers: JSON.stringify(answers)}),
                    success: function(data){
                        var answers = [];
                        for(var i=0; i<data.Question.Answers.length; i++){
                            answers.push(new Answer(data.Question.Answers[i].Id, data.Question.Answers[i].Content, data.Question.Answers[i].IsTrue, data.Question.Answers[i].IsAnswered));
                        }
                        viewModel.question(new Question(data.Question.Title, answers, data.Question.MultipleAnswers, data.Question.AnswerDescription));
                        viewModel.isChecked(true);
                    }
                });
            },
            isChecked: ko.observable(false),
            nextQuestion: function(){
                viewModel.currentQuestion(viewModel.currentQuestion()+1);
                viewModel.getQuestion();
                viewModel.isChecked(false);
            }
        };

        $(document).ready(function(){
            ko.applyBindings(viewModel);
            viewModel.getQuestion();
        });
    </script>
}