﻿@{
    ViewBag.Title = RayCourse.Resources.Common.Home;
}

<div class="row">
    <div class="col-md-8">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-6">
                    @Html.Raw(RayCourse.Resources.Common.SiteDescription)
                </div>
                @if (!User.Identity.IsAuthenticated)
                {
                    <div class="col-md-6 text-center">
                        <a class="btn btn-primary btn-lg" style="width:100%" href="/account/register">@RayCourse.Resources.Common.Register</a><br /><br />
                        <a class="btn btn-primary" style="width:80%" href="/account/login">@RayCourse.Resources.Common.Login</a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="active"><a href="#courses" role="tab" data-toggle="tab">@RayCourse.Resources.Common.Courses</a></li>
            <li><a href="#users" role="tab" data-toggle="tab">@RayCourse.Resources.Common.Users</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="courses">
                @Html.Action("MostFavourite", "Courses")
            </div>
            <div class="tab-pane" id="users">
                @Html.Action("MostFavourite", "Profile")
            </div>
        </div>
    </div>
</div>