﻿@model RayCourse.Web.Models.Home.MenuViewModel

<ul class="nav navbar-nav navbar-right">
    @if (Request.IsAuthenticated)
    {
        <li><a href="/lang/bg?returnUrl=@Request.Path">BG</a></li>
        <li><a href="/lang/en?returnUrl=@Request.Path">EN</a></li>
        <li>
            <form action="/search" method="get" class="navbar-form" role="search">
                <div class="form-group">
                    <input class="form-control" type="text" name="q" placeholder="@RayCourse.Resources.Common.SearchDesc" />
                </div>
                <input class="btn btn-default" type="submit" value="@RayCourse.Resources.Common.Search" />
            </form>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Model.Email <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/notifications">@RayCourse.Resources.Common.Notifications <span class="badge">@Model.NotificationCount</span></a></li>
                <li class="divider"></li>
                <li><a href="/manage">@RayCourse.Resources.Common.Account</a></li>
                <li><a href="/user/@Model.Nickname">@RayCourse.Resources.Common.Profile</a></li>
                <li class="divider"></li>
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()">@RayCourse.Resources.Common.LogOff <span class="glyphicon glyphicon-log-out"></span></a>
                    @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                    
                    }
                </li>
            </ul>
        </li>
    }
    else
    {

        <li><a href="/lang/bg?returnUrl=@Request.Path">BG</a></li>
        <li><a href="/lang/en?returnUrl=@Request.Path">EN</a></li>
        <li>
            <form action="/search" method="get" class="navbar-form" role="search">
                <div class="form-group">
                    <input class="form-control" type="text" name="q" placeholder="@RayCourse.Resources.Common.SearchDesc" />
                </div>
                <input class="btn btn-default" type="submit" value="@RayCourse.Resources.Common.Search" />
            </form>
        </li>
        <li><a id="registerLink" href="/account/register">@RayCourse.Resources.Common.Register</a></li>
        <li><a id="loginLink" href="/account/login">@RayCourse.Resources.Common.Login</a></li>

    }
</ul>