﻿@model IEnumerable<RayCourse.Web.Models.Courses.MostFavouriteViewModel>

@{
    ViewBag.Title = RayCourse.Resources.Common.MostFavourite;
}

<h2>@RayCourse.Resources.Common.MostFavourite</h2>

<ol type="1">
    @foreach (var course in Model)
    {
        <li>
            <a href="/course/@course.Id">@course.Name</a> (<a href="/user/@course.Owner">@course.Owner</a>)
        </li>
    }
</ol>
