﻿@model RayCourse.Web.Models.Courses.ShowViewModel

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name (<a href="/user/@Model.Owner">@Model.Owner</a>)</h2>
<div class="row">
    <div class="col-md-6">
        <div class="well" style="margin-bottom:0;">
            <p>
                @Model.Description
            </p>
            @if (User.Identity.IsAuthenticated)
            {
                if (!Model.IsOwner)
                {
                    if (!Model.IsFavourite)
                    {
                        <div>
                            <a href="/course/@Model.Id/add-to-favourites">@RayCourse.Resources.Common.AddToFavourite</a>
                        </div>
                    }
                    else
                    {
                        <div>
                            <a href="/course/@Model.Id/remove-from-favourites">@RayCourse.Resources.Common.RemoveFromFavourite</a>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>@RayCourse.Resources.Common.Articles</span>
            </div>
            <div class="panel-body">
                <div id="articles" data-bind="with: articlesViewModel">
                    <div class="list-group" data-bind="foreach: articles">
                        <a class="list-group-item" data-bind="text: title, attr: { href: '/article/'+id }"></a>
                    </div>
                    <div data-bind="css:{ hidden: load() == false }">@RayCourse.Resources.Common.Loading</div>
                    <ul class="pager">
                        <li class="previous" data-bind="css:{ hidden: page() == 1 }">
                            <a href="javascript:;" data-bind="click: goToPreviousPage">@RayCourse.Resources.Common.Previous</a>
                        </li>
                        <li class="next" data-bind="css:{ hidden: page() == pages().length }">
                            <a href="javascript:;" data-bind="click: goToNextPage">@RayCourse.Resources.Common.Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>@RayCourse.Resources.Common.Links</span>
            </div>
            <div class="panel-body">
                <div id="links" data-bind="with: linksViewModel">
                    <div class="list-group" data-bind="foreach: links">
                        <a class="list-group-item" data-bind="text: title, attr: { href: url }"></a>
                    </div>
                    <div data-bind="css:{ hidden: load() == false }">@RayCourse.Resources.Common.Loading</div>
                    <ul class="pager">
                        <li class="previous" data-bind="css:{ hidden: page() == 1 }">
                            <a href="javascript:;" data-bind="click: goToPreviousPage">@RayCourse.Resources.Common.Previous</a>
                        </li>
                        <li class="next" data-bind="css:{ hidden: page() == pages().length }">
                            <a href="javascript:;" data-bind="click: goToNextPage">@RayCourse.Resources.Common.Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>@RayCourse.Resources.Common.Tests</span>
            </div>
            <div class="panel-body">
                <div id="tests" data-bind="with: testsViewModel">
                    <div class="list-group" data-bind="foreach: tests">
                        <a class="list-group-item" data-bind="text: name, attr: { href: '/test/' + id }"></a>
                    </div>
                    <div data-bind="css:{ hidden: load() == false }">@RayCourse.Resources.Common.Loading</div>
                    <ul class="pager">
                        <li class="previous" data-bind="css:{ hidden: page() == 1 }">
                            <a href="javascript:;" data-bind="click: goToPreviousPage">@RayCourse.Resources.Common.Previous</a>
                        </li>
                        <li class="next" data-bind="css:{ hidden: page() == pages().length }">
                            <a href="javascript:;" data-bind="click: goToNextPage">@RayCourse.Resources.Common.Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/knockout")
    <script>
        var courseId = @Model.Id;
        var Article = function(id, title){

            var self = this;

            self.id = id;
            self.title = title;

        };

        var Link = function(id, title, url){

            var self = this;

            self.id = id;
            self.title = title;
            self.url = url;

        };

        var Test = function(id, name){

            var self = this;

            self.id = id;
            self.name = name;

        };

        var viewModel = {
            articlesViewModel: {
                articles: ko.observableArray([]),
                load: ko.observable(true),
                page: ko.observable(1),
                pages: ko.observableArray([]),
                goToPreviousPage: function(){
                    var page = viewModel.articlesViewModel.page();
                    viewModel.articlesViewModel.page(page-1);
                    viewModel.articlesViewModel.getArticles();
                },
                goToNextPage: function(){
                    var page = viewModel.articlesViewModel.page();
                    viewModel.articlesViewModel.page(page+1);
                    viewModel.articlesViewModel.getArticles();
                },
                getArticles: function(){
                    viewModel.articlesViewModel.articles([]);
                    viewModel.articlesViewModel.load(true);
                    $.ajax({
                        url: '/api/course/'+courseId+'/articles/'+viewModel.articlesViewModel.page(),
                        type: 'get',
                        success: function(data){
                            for(var i=0; i<data.length; i++){
                                viewModel.articlesViewModel.articles.push(new Article(data[i].Id, data[i].Title));
                            }
                            viewModel.articlesViewModel.load(false);
                        }
                    });
                },
                getArticlesPageCount: function(){
                    $.ajax({
                        url: '/api/course/'+courseId+'/articles/page-count',
                        type: 'get',
                        success: function(data){
                            for(var i=1; i<=data; i++){
                                viewModel.articlesViewModel.pages.push(i);
                            }
                        }
                    });
                }
            },
            linksViewModel: {
                links: ko.observableArray([]),
                load: ko.observable(true),
                page: ko.observable(1),
                pages: ko.observableArray([]),
                goToPreviousPage: function(){
                    var page = viewModel.linksViewModel.page();
                    viewModel.linksViewModel.page(page-1);
                    viewModel.linksViewModel.getLinks();
                },
                goToNextPage: function(){
                    var page = viewModel.linksViewModel.page();
                    viewModel.linksViewModel.page(page+1);
                    viewModel.linksViewModel.getLinks();
                },
                getLinks: function(){
                    viewModel.linksViewModel.links([]);
                    viewModel.linksViewModel.load(true);
                    $.ajax({
                        url: '/api/course/'+courseId+'/links/'+viewModel.linksViewModel.page(),
                        type: 'get',
                        success: function(data){
                            for(var i=0; i<data.length; i++){
                                viewModel.linksViewModel.links.push(new Link(data[i].Id, data[i].Title, data[i].Url));
                            }
                            viewModel.linksViewModel.load(false);
                        }
                    });
                },
                getLinksPageCount: function(){
                    $.ajax({
                        url: '/api/course/'+courseId+'/links/page-count',
                        type: 'get',
                        success: function(data){
                            for(var i=1; i<=data; i++){
                                viewModel.linksViewModel.pages.push(i);
                            }
                        }
                    });
                }
            },
            testsViewModel: {
                tests: ko.observableArray([]),
                load: ko.observable(true),
                page: ko.observable(1),
                pages: ko.observableArray([]),
                goToPreviousPage: function(){
                    var page = viewModel.testsViewModel.page();
                    viewModel.testsViewModel.page(page-1);
                    viewModel.testsViewModel.getTests();
                },
                goToNextPage: function(){
                    var page = viewModel.testsViewModel.page();
                    viewModel.testsViewModel.page(page+1);
                    viewModel.testsViewModel.getTests();
                },
                getTests: function(){
                    viewModel.testsViewModel.tests([]);
                    viewModel.testsViewModel.load(true);
                    $.ajax({
                        url: '/api/course/'+courseId+'/tests/'+viewModel.testsViewModel.page(),
                        type: 'get',
                        success: function(data){
                            for(var i=0; i<data.length; i++){
                                viewModel.testsViewModel.tests.push(new Test(data[i].Id, data[i].Name));
                            }
                            viewModel.testsViewModel.load(false);
                        }
                    });
                },
                getTestsPageCount: function(){
                    $.ajax({
                        url: '/api/course/'+courseId+'/tests/page-count',
                        type: 'get',
                        success: function(data){
                            for(var i=1; i<=data; i++){
                                viewModel.testsViewModel.pages.push(i);
                            }
                        }
                    });
                }
            },
            loadData: function(){
                viewModel.articlesViewModel.getArticles();
                viewModel.articlesViewModel.getArticlesPageCount();

                viewModel.linksViewModel.getLinks();
                viewModel.linksViewModel.getLinksPageCount();

                viewModel.testsViewModel.getTests();
                viewModel.testsViewModel.getTestsPageCount();
            }
        };

        $(document).ready(function(){

            ko.applyBindings(viewModel);
            viewModel.loadData();
        });


    </script>
}