﻿@model string
@{
    ViewBag.Title = RayCourse.Resources.Common.Search+": \"" + Model + "\"";
}

<h2>@RayCourse.Resources.Common.Search: "@Model"</h2>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                @RayCourse.Resources.Common.Courses
            </div>
            <div class="panel-body">
                <div data-bind="with: coursesViewModel">
                    <div class="list-group" data-bind="foreach: courses">
                        <a class="list-group-item" data-bind="attr: { href: '/course/' + id }, text: name"></a>
                    </div>
                    <ul class="pager">
                        <li class="previous">
                            <a href="javascript:;" data-bind="click: goToPrevPage">@RayCourse.Resources.Common.Previous</a>
                        </li>
                        <li class="next">
                            <a href="javascript:;" data-bind="click: goToNextPage">@RayCourse.Resources.Common.Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                @RayCourse.Resources.Common.Articles
            </div>
            <div class="panel-body">
                <div data-bind="with: articlesViewModel">
                    <div class="list-group" data-bind="foreach: articles">
                        <a class="list-group-item" data-bind="attr: { href: '/article/' + id }, text: title"></a>
                    </div>
                    <ul class="pager">
                        <li class="previous">
                            <a href="javascript:;" data-bind="click: goToPrevPage">@RayCourse.Resources.Common.Previous</a>
                        </li>
                        <li class="next">
                            <a href="javascript:;" data-bind="click: goToNextPage">@RayCourse.Resources.Common.Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                @RayCourse.Resources.Common.Links
            </div>
            <div class="panel-body">
                <div data-bind="with: linksViewModel">
                    <div class="list-group" data-bind="foreach: links">
                        <a class="list-group-item" data-bind="attr: { href: url }, text: title"></a>
                    </div>
                    <ul class="pager">
                        <li class="previous">
                            <a href="javascript:;" data-bind="click: goToPrevPage">@RayCourse.Resources.Common.Previous</a>
                        </li>
                        <li class="next">
                            <a href="javascript:;" data-bind="click: goToNextPage">@RayCourse.Resources.Common.Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                @RayCourse.Resources.Common.Tests
            </div>
            <div class="panel-body">
                <div data-bind="with: testsViewModel">
                    <div class="list-group" data-bind="foreach: tests">
                        <a class="list-group-item" data-bind="attr: { href: '/test/' + id }, text: name"></a>
                    </div>
                    <ul class="pager">
                        <li class="previous">
                            <a href="javascript:;" data-bind="click: goToPrevPage">@RayCourse.Resources.Common.Previous</a>
                        </li>
                        <li class="next">
                            <a href="javascript:;" data-bind="click: goToNextPage">@RayCourse.Resources.Common.Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                @RayCourse.Resources.Common.Users
            </div>
            <div class="panel-body">
                <div data-bind="with: usersViewModel">
                    <div class="list-group" data-bind="foreach: users">
                        <a class="list-group-item" data-bind="attr: { href: '/user/' + nickname }, text: nickname"></a>
                    </div>
                    <ul class="pager">
                        <li class="previous">
                            <a href="javascript:;" data-bind="click: goToPrevPage">@RayCourse.Resources.Common.Previous</a>
                        </li>
                        <li class="next">
                            <a href="javascript:;" data-bind="click: goToNextPage">@RayCourse.Resources.Common.Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/knockout")
    <script>
        var q = '@Model';

        var Course = function (name, id) {
            var self = this;

            self.name = name;
            self.id = id;
        }

        var Article = function (id, title) {
            var self = this;

            self.title = title;
            self.id = id;
        }

        var Link = function (url, title) {
            var self = this;

            self.title = title;
            self.url = url;
        }

        var Test = function (id, name) {
            var self = this;

            self.id = id;
            self.name = name;
        }

        var User = function (nickname) {
            var self = this;

            self.nickname = nickname;
        }

        var viewModel = {
            coursesViewModel: {
                page: ko.observable(1),
                courses: ko.observableArray([]),
                goToPrevPage: function () {
                    viewModel.coursesViewModel.page(viewModel.coursesViewModel.page() - 1);
                    viewModel.coursesViewModel.load();
                },
                goToNextPage: function () {
                    viewModel.coursesViewModel.page(viewModel.coursesViewModel.page() + 1);
                    viewModel.coursesViewModel.load();
                },
                load: function () {
                    viewModel.coursesViewModel.courses([]);
                    $.ajax({
                        url: '/api/search/courses?q=' + q + '&page=' + viewModel.coursesViewModel.page(),
                        type: 'get',
                        success: function (data) {
                            for (var i = 0; i < data.length; i++) {
                                viewModel.coursesViewModel.courses.push(new Course(data[i].Name, data[i].Id));
                            }
                        }
                    });
                },
            },
            articlesViewModel: {
                page: ko.observable(1),
                articles: ko.observableArray([]),
                goToPrevPage: function () {
                    viewModel.articlesViewModel.page(viewModel.articlesViewModel.page() - 1);
                    viewModel.articlesViewModel.load();
                },
                goToNextPage: function () {
                    viewModel.articlesViewModel.page(viewModel.articlesViewModel.page() + 1);
                    viewModel.articlesViewModel.load();
                },
                load: function () {
                    viewModel.articlesViewModel.articles([]);
                    $.ajax({
                        url: '/api/search/articles?q=' + q + '&page=' + viewModel.articlesViewModel.page(),
                        type: 'get',
                        success: function (data) {
                            for (var i = 0; i < data.length; i++) {
                                viewModel.articlesViewModel.articles.push(new Article(data[i].Id, data[i].Title));
                            }
                        }
                    });
                },
            },
            linksViewModel: {
                page: ko.observable(1),
                links: ko.observableArray([]),
                goToPrevPage: function () {
                    viewModel.linksViewModel.page(viewModel.linksViewModel.page() - 1);
                    viewModel.linksViewModel.load();
                },
                goToNextPage: function () {
                    viewModel.linksViewModel.page(viewModel.linksViewModel.page() + 1);
                    viewModel.linksViewModel.load();
                },
                load: function () {
                    viewModel.linksViewModel.links([]);
                    $.ajax({
                        url: '/api/search/links?q=' + q + '&page=' + viewModel.linksViewModel.page(),
                        type: 'get',
                        success: function (data) {
                            for (var i = 0; i < data.length; i++) {
                                viewModel.linksViewModel.links.push(new Link(data[i].Url, data[i].Title));
                            }
                        }
                    });
                },
            },
            testsViewModel: {
                page: ko.observable(1),
                tests: ko.observableArray([]),
                goToPrevPage: function () {
                    viewModel.testsViewModel.page(viewModel.testsViewModel.page() - 1);
                    viewModel.testsViewModel.load();
                },
                goToNextPage: function () {
                    viewModel.testsViewModel.page(viewModel.testsViewModel.page() + 1);
                    viewModel.testsViewModel.load();
                },
                load: function () {
                    viewModel.testsViewModel.tests([]);
                    $.ajax({
                        url: '/api/search/tests?q=' + q + '&page=' + viewModel.testsViewModel.page(),
                        type: 'get',
                        success: function (data) {
                            for (var i = 0; i < data.length; i++) {
                                viewModel.testsViewModel.tests.push(new Test(data[i].Id, data[i].Name));
                            }
                        }
                    });
                },
            },
            usersViewModel: {
                page: ko.observable(1),
                users: ko.observableArray([]),
                goToPrevPage: function () {
                    viewModel.usersViewModel.page(viewModel.usersViewModel.page() - 1);
                    viewModel.usersViewModel.load();
                },
                goToNextPage: function () {
                    viewModel.usersViewModel.page(viewModel.usersViewModel.page() + 1);
                    viewModel.usersViewModel.load();
                },
                load: function () {
                    viewModel.usersViewModel.users([]);
                    $.ajax({
                        url: '/api/search/users?q=' + q + '&page=' + viewModel.usersViewModel.page(),
                        type: 'get',
                        success: function (data) {
                            for (var i = 0; i < data.length; i++) {
                                viewModel.usersViewModel.users.push(new User(data[i].Nickname));
                            }
                        }
                    });
                },
            },
        };

        $(document).ready(function () {
            viewModel.coursesViewModel.load();
            viewModel.articlesViewModel.load();
            viewModel.linksViewModel.load();
            viewModel.testsViewModel.load();
            viewModel.usersViewModel.load();
            ko.applyBindings(viewModel);
        });
    </script>
}

