﻿@model RayCourse.Web.Areas.Dashboard.Models.Tests.CreateViewModel

@{
    ViewBag.Title = RayCourse.Resources.Common.Create;
}

<h2>@RayCourse.Resources.Common.Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@RayCourse.Resources.Common.Test</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Course, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Course, Model.Courses, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Course, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@RayCourse.Resources.Common.Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href="/dashboard/tests">@RayCourse.Resources.Common.BackToList</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
