﻿@model RayCourse.Web.Areas.Dashboard.Models.Tests.DetailsViewModel

@{
    ViewBag.Title = RayCourse.Resources.Common.Details;
}

<h2>@RayCourse.Resources.Common.Details</h2>

<div>
    <h4>@RayCourse.Resources.Common.Test</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @RayCourse.Resources.Fields.Name
        </dt>

        <dd>
            @Model.Name
        </dd>

    </dl>
</div>
<p>
    <a href="/dashboard/tests/edit/@Model.Id">@RayCourse.Resources.Common.Edit</a> |
    <a href="/dashboard/tests">@RayCourse.Resources.Common.BackToList</a>
</p>
<fieldset>
    <legend>@RayCourse.Resources.Common.Questions</legend>
    <div>
        <a href="/dashboard/tests/@Model.Id/questions/add">@RayCourse.Resources.Common.AddQuestion</a>
    </div>
    @if (Model.Questions.Count == 0)
    {
        <div>
            @RayCourse.Resources.Common.NoQuestions
        </div>
    }
    <div class="row">
        <ul class="list-unstyled">
            @foreach (var question in Model.Questions)
            {
                <li class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div>
                                <a href="/dashboard/questions/delete/@question.Id">@RayCourse.Resources.Common.Delete</a> |
                                <a href="/dashboard/questions/edit/@question.Id">@RayCourse.Resources.Common.Edit</a>
                            </div>
                            @Html.Raw(question.Title) @if (question.MultipleAnswers)
                            { <span>(@RayCourse.Resources.Fields.MultipleAnswers)</span> }
                            <ul>
                                @foreach (var answer in question.Answers)
                                {
                                    <li>
                                        @answer.Content @if (answer.IsTrue)
                                        { <span class="glyphicon glyphicon-ok"></span> }
                                    </li>
                                }
                            </ul>
                            <p>@RayCourse.Resources.Fields.AnswerDescription</p>
                            @Html.Raw(question.AnswerDescription)
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</fieldset>
