﻿@model RayCourse.Web.Areas.Dashboard.Models.Tests.EditQuestionViewModel

@{
    ViewBag.Title = RayCourse.Resources.Common.Edit;
}

<h2>@RayCourse.Resources.Common.Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@RayCourse.Resources.Common.Question</h4>
        <hr />

        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.TestId)

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AnswerDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AnswerDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AnswerDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MultipleAnswers, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MultipleAnswers, new { htmlAttributes = new { @class = "checkbox" } })
                @Html.ValidationMessageFor(model => model.MultipleAnswers, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Answers, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div data-bind="foreach: answers">
                    <div>
                        <input type="text" class="form-control" data-bind="textInput: content, attr: { name: 'Answers['+ $index() +'].Content' }" />
                        <span>@RayCourse.Resources.Fields.IsTrue</span>
                        <input type="checkbox" value="true" data-bind="checked: isTrue, attr: { name: 'Answers['+ $index() +'].IsTrue' }" />
                        <a href="javascript:;" data-bind="click: $root.removeAnswer"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                    <br />
                </div>
                <button data-bind="click: addAnswer" class="btn btn-sm">@RayCourse.Resources.Common.AddAnswer</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@RayCourse.Resources.Common.Add" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    <a href="/dashboard/tests/details/@Model.TestId">@RayCourse.Resources.Common.BackToTest</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/tinymce/tinymce.min.js")
    @Scripts.Render("~/bundles/areas/dashboard/article")
    @Scripts.Render("~/bundles/knockout")
    <script>
        var Answer = function (content, isTrue) {
            var self = this;

            self.content = ko.observable(content);
            self.isTrue = ko.observable(isTrue);
        }

        var viewModel = {
            answers: ko.observableArray([]),
            addAnswer: function () {
                viewModel.answers.push(new Answer("", false));
            },
            removeAnswer: function (answer) {
                viewModel.answers.remove(answer);
            },
        };

        var answers = @Html.Raw(Json.Encode(Model.Answers));

        $(document).ready(function () {

            for(var i=0; i<answers.length; i++){
                viewModel.answers.push(new Answer(answers[i].Content, answers[i].IsTrue));
            }

            console.log(answers);
            console.log(viewModel.answers());


            ko.applyBindings(viewModel);
        });
    </script>
}