﻿@model RayCourse.Web.Areas.Dashboard.Models.Tests.IndexViewModel

@{
    ViewBag.Title = RayCourse.Resources.Common.Tests;
    ViewBag.Index = 1;
}

<h2>@RayCourse.Resources.Common.Tests</h2>

<div>
    <a href="/dashboard/tests/create">@RayCourse.Resources.Common.CreateNewTest</a>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    <a href="/dashboard/tests?page=1&sortBy=name">@RayCourse.Resources.Fields.Name</a>
                </th>
                <th>
                    <a href="/dashboard/tests?page=1&sortBy=course">@RayCourse.Resources.Common.Course</a>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var test in Model.Tests)
            {
                <tr>
                    <td>
                        @(ViewBag.Index + (Model.Page - 1) * 10)
                    </td>
                    <td>
                        <a href="/dashboard/tests/details/@test.Id">@test.Name</a>
                    </td>
                    <td>
                        <a href="/dashboard/courses/details/@test.CourseId">@test.Course</a>
                    </td>
                    <td>
                        <a href="/dashboard/tests/details/@test.Id">@RayCourse.Resources.Common.Details</a> |
                        <a href="/dashboard/tests/edit/@test.Id">@RayCourse.Resources.Common.Edit</a> |
                        <a href="/dashboard/tests/delete/@test.Id">@RayCourse.Resources.Common.Delete</a>
                    </td>
                </tr>
                ViewBag.Index++;
            }
        </tbody>
    </table>
</div>
@Html.Partial("_Pager", new RayCourse.Web.Areas.Dashboard.Models.Shared.PagerViewModel
{
    Page = Model.Page,
    PageCount = Model.PageCount,
    BaseUrl = "/dashboard/tests",
    SortingEnabled = true,
    SortBy = Model.SortBy,
})