﻿@model RayCourse.Web.Models.Article.ShowViewModel

@{
    ViewBag.Title = Model.Title;
}

<div class="row">
    <div class="col-md-8">
        <h2>@Model.Title</h2>
        <hr />
        <div>
            @RayCourse.Resources.Fields.CreatedOn: @Model.CreatedOn, @RayCourse.Resources.Fields.UpdatedOn: @Model.UpdatedOn
        </div>
        <hr />
        @Html.Raw(@Model.Content)
    </div>
    <div class="col-md-4">
        <h4>@RayCourse.Resources.Common.Comments</h4>
        <div data-bind="css: { hidden: comments().length == 0 }">
            <ul class="list-group" data-bind="foreach: comments">
                <li class="list-group-item">
                    <div>
                        <h6 data-bind="text: user"></h6>
                        <div data-bind="text: createdOn"></div>
                    </div>
                    <p data-bind="text: content"></p>
                </li>
            </ul>
            <ul class="pagination" data-bind="foreach: pages">
                <li data-bind="css: { active: $data==$parent.page() }">
                    <a href="javascript:;" data-bind="text: $data, click: $parent.goToPage"></a>
                </li>
            </ul>
        </div>
        <div data-bind="css: { hidden: comments().length != 0 }">
            No comments
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <form action="/article/@Model.Id/add-comment" method="post">
                @Html.AntiForgeryToken()

                @Html.TextArea("content", "", new { @class = "form-control" })

                <input type="submit" class="btn btn-default" value="@RayCourse.Resources.Common.AddComment" />
            </form>
        }
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/knockout")
    <script>
        var id = @Model.Id;

        var Comment = function(id, content, user, createdOn){
            var self = this;

            self.id = id;
            self.content = content;
            self.user = user;
            self.createdOn = createdOn;
        }

        var viewModel = {
            comments: ko.observableArray([]),
            page: ko.observable(1),
            pages: ko.observableArray([]),
            goToPage: function(page){
                viewModel.page(page);
            },
            getComments:function(){
                $.ajax({
                    url: '/api/article/'+id+'/comments/'+viewModel.page(),
                    type: 'get',
                    success: function(data){
                        for(var i=0; i<data.length; i++){
                            viewModel.comments.push(new Comment(data[i].Id, data[i].Content, data[i].User, data[i].CreatedOn));
                        }
                    }
                });
            },
            getPageCount: function(){
                $.ajax({
                    url: '/api/article/'+id+'/comments/page-count',
                    type: 'get',
                    success: function(data){
                        for(var i=1; i<=data; i++){
                            viewModel.pages.push(i);
                        }
                    }
                });
            }
        }

        $(document).ready(function(){

            ko.applyBindings(viewModel);
            viewModel.getComments();
            viewModel.getPageCount();

        });
    </script>
}
