﻿body, h1, h2, h3, h4, h5, h6 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.feature-panel {
    height: 100px;
}

.jumbotron {
    background-color: #EAEAEA;
}

.facebook-login {
    border: 0;
    display: block;
    width: 46px;
    height: 46px;
    background-image: url('/Content/socials.png');
    background-repeat: no-repeat;
    background-position: 0px -47px;
}

.socials a {
    float: left;
    display: block;
    width: 46px;
    height: 46px;
    background-image: url('/Content/socials.png');
    background-repeat: no-repeat;
}

    .socials a.facebook {
        background-position: 0px 0px;
    }

        .socials a.facebook:hover {
            background-position: 0px -47px;
        }

        .socials a.facebook:active {
            background-position: 0px -93px;
        }

    .socials a.google {
        background-position: -138px 0px;
    }

        .socials a.google:hover {
            background-position: -138px -47px;
        }

        .socials a.google:active {
            background-position: -138px -93px;
        }

    .socials a.twitter {
        background-position: -370px 0px;
    }

        .socials a.twitter:hover {
            background-position: -370px -47px;
        }

        .socials a.twitter:active {
            background-position: -370px -93px;
        }

    .socials a.linkedIn {
        background-position: -185px 0px;
    }

        .socials a.linkedIn:hover {
            background-position: -185px -47px;
        }

        .socials a.linkedIn:active {
            background-position: -185px -93px;
        }
