﻿@model RayCourse.Web.Models.Notifications.IndexViewModel

@{
    ViewBag.Title = RayCourse.Resources.Common.Notifications;
}

<h2>@RayCourse.Resources.Common.Notifications</h2>

<a href="/notifications/clear">@RayCourse.Resources.Common.ClearAll</a> |
<a href="/notifications/clear-read">@RayCourse.Resources.Common.ClearRead</a> |
<a href="/notifications/mark-as-read">@RayCourse.Resources.Common.MarkAsRead</a>

<div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            @foreach (var notification in Model.Notifications)
            {
                if (notification.Parameter2 == null) {
                    ViewBag.Content = String.Format(RayCourse.Resources.Common.ArticleCommentedNotification, notification.Parameter1);
                }else{
                    switch(notification.Type){
                        case RayCourse.Models.NotificationType.AddedToFavourites:
                            ViewBag.Content = String.Format(RayCourse.Resources.Common.AddedToFavouritesNotification, notification.Parameter1, notification.Parameter2);
                            break;
                            case RayCourse.Models.NotificationType.ArticleAdded:
                            ViewBag.Content = String.Format(RayCourse.Resources.Common.AddedArticleNotification, notification.Parameter1, notification.Parameter2);
                            break;
                            case RayCourse.Models.NotificationType.LinkAdded:
                            ViewBag.Content = String.Format(RayCourse.Resources.Common.AddedLinkNotification, notification.Parameter1, notification.Parameter2);
                            break;
                            case RayCourse.Models.NotificationType.TestAdded:
                            ViewBag.Content = String.Format(RayCourse.Resources.Common.AddedTestNotification, notification.Parameter1, notification.Parameter2);
                            break;
                    }
                }
                if (notification.Read)
                {
                    <li class="list-group-item">
                        @Html.Raw(ViewBag.Content.ToString())
                    </li>
                }
                else
                {
                    <li class="list-group-item list-group-item-warning">
                        @Html.Raw(ViewBag.Content.ToString())
                    </li>
                }
            }
        </ul>
    </div>
</div>