﻿@model RayCourse.Web.Areas.Dashboard.Models.Articles.DetailsViewModel

@{
    ViewBag.Title = RayCourse.Resources.Common.Details;
}

<h2>@RayCourse.Resources.Common.Create</h2>

<div class="row">
    <div class="col-md-6">
        <fieldset>
            <legend>@RayCourse.Resources.Common.Information</legend>
            <dl>
                <dt>@RayCourse.Resources.Fields.Title</dt>
                <dd>@Model.Title</dd>

                <dt>@RayCourse.Resources.Fields.CreatedOn</dt>
                <dd>@Model.CreatedOn</dd>

                <dt>@RayCourse.Resources.Fields.UpdatedOn</dt>
                <dd>@Model.UpdatedOn</dd>
            </dl>
        </fieldset>
    </div>
    <div class="col-md-6">
        <fieldset>
            <legend>@RayCourse.Resources.Common.Course</legend>
            @Html.Action("BriefDetails", "Courses", new { id = Model.CourseId })
        </fieldset>
    </div>
    <div class="col-md-12">
        <fieldset>
            <legend>@RayCourse.Resources.Fields.Content</legend>
            <div>
                @Html.Raw(Model.Content)
            </div>
        </fieldset>
    </div>
</div>
<div>
    <a href="/dashboard/articles/edit/@Model.Id">@RayCourse.Resources.Common.Edit</a> |
    <a href="/dashboard/articles">@RayCourse.Resources.Common.BackToList</a>
</div>
