﻿@{
    ViewBag.Title = RayCourse.Resources.Common.ForgotPassword;
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        @RayCourse.Resources.Common.CheckEmail
    </p>
</div>

