﻿@using RayCourse.Web.Models
@using Microsoft.Owin.Security
@model LoginViewModel
@{
    ViewBag.Title = RayCourse.Resources.Common.Login;
    ViewBag.LoginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
}

<div class="row">
    <div class="col-md-7">
        <section id="loginForm">
            <h3 style="margin-bottom: 0;">@RayCourse.Resources.Common.Login</h3>
            <hr />
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="@RayCourse.Resources.Common.Login" class="btn btn-default" />
                    </div>
                </div>
            }
            @using (Html.BeginForm("ExternalLogin", "Account"))
            {
                @Html.AntiForgeryToken()
                <div id="socialLoginList">
                    <p>
                        <button type="submit" class="facebook-login" id="Facebook" name="provider" value="Facebook" title="@RayCourse.Resources.Common.LoginUsingYourFacebookAccount"></button>
                    </p>
                </div>
            }
            <p>
                @Html.ActionLink(RayCourse.Resources.Common.RegisterAsNewUser, "Register")
            </p>
            <p>
                @Html.ActionLink(RayCourse.Resources.Common.ForgotPassword, "ForgotPassword")
            </p>
        </section>
    </div>
    @*
        <div class="col-md-5">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    *@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}