﻿@{
    ViewBag.Title = RayCourse.Resources.Common.ResetPassword;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @RayCourse.Resources.Common.ResetCompleted @Html.ActionLink(RayCourse.Resources.Common.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
