﻿<div class="navbar navbar-inverse">
    <div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">RayCourse</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <a href="/dashboard">@RayCourse.Resources.Common.Dashboard</a>
                    </li>
                }
                @if (User.IsInRole("Admin"))
                {
                    <li>
                        <a href="/admin/logs">@RayCourse.Resources.Common.AdminPanel</a>
                    </li>
                }
            </ul>
            @Html.Action("Menu", "Home", new { area = "" })
        </div>
    </div>
</div>
