﻿@model RayCourse.Web.Areas.Dashboard.Models.Links.DetailsViewModel

@{
    ViewBag.Title = RayCourse.Resources.Common.Details;
}

<h2>@RayCourse.Resources.Common.Details</h2>

<div class="row">
    <div class="col-md-6">
        <fieldset>
            <legend>@RayCourse.Resources.Common.Information</legend>
            <dl>
                <dt>@RayCourse.Resources.Fields.Title</dt>
                <dd>@Model.Title</dd>

                <dt>@RayCourse.Resources.Fields.Url</dt>
                <dd><a href="@Model.Url">@Model.Url</a></dd>

            </dl>
        </fieldset>
    </div>
    <div class="col-md-6">
        <fieldset>
            <legend>@RayCourse.Resources.Common.Course</legend>
            @Html.Action("BriefDetails", "Courses", new { id = Model.CourseId })
        </fieldset>
    </div>
</div>
<div>
    <a href="/dashboard/links/edit/@Model.Id">@RayCourse.Resources.Common.Edit</a> |
    <a href="/dashboard/links">@RayCourse.Resources.Common.BackToList</a>
</div>
