﻿@model RayCourse.Web.Areas.Dashboard.Models.Links.IndexViewModel

@{
    ViewBag.Title = RayCourse.Resources.Common.Links;
    ViewBag.Index = 1;
}

<h2>@RayCourse.Resources.Common.Links</h2>

<div>
    <a href="/dashboard/links/create">@RayCourse.Resources.Common.CreateNewLink</a>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    <a href="/dashboard/articles?page=1&sortBy=title">@RayCourse.Resources.Fields.Title</a>
                </th>
                <th>
                    <a href="/dashboard/articles?page=1&sortBy=createdon#">@RayCourse.Resources.Fields.Url</a>
                </th>
                <th>
                    <a href="/dashboard/articles?page=1&sortBy=course">@RayCourse.Resources.Common.Course</a>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var article in Model.Links)
            {
                <tr>
                    <td>
                        @(ViewBag.Index + (Model.Page - 1) * 10)
                    </td>
                    <td>
                        <a href="/dashboard/links/details/@article.Id">@article.Title</a>
                    </td>
                    <td>
                        <a href="@article.Url">@article.Url</a>
                    </td>
                    <td>
                        <a href="/dashboard/courses/details/@article.CourseId">@article.Course</a>
                    </td>
                    <td>
                        <a href="/dashboard/links/details/@article.Id">@RayCourse.Resources.Common.Details</a> |
                        <a href="/dashboard/links/edit/@article.Id">@RayCourse.Resources.Common.Edit</a> |
                        <a href="/dashboard/links/delete/@article.Id">@RayCourse.Resources.Common.Delete</a>
                    </td>
                </tr>
                ViewBag.Index++;
            }
        </tbody>
    </table>
</div>
@Html.Partial("_Pager", new RayCourse.Web.Areas.Dashboard.Models.Shared.PagerViewModel
{
    Page = Model.Page,
    PageCount = Model.PageCount,
    BaseUrl = "/dashboard/links",
    SortingEnabled = true,
    SortBy = Model.SortBy,
})