﻿@model RayCourse.Web.Areas.Dashboard.Models.Courses.BriefDetailsViewModel

<div class="panel panel-default">
    <div class="panel-body">
        <h4>@Model.Name</h4>
        <p>
            @Model.Description
        </p>
    </div>
    <div class="panel-footer">
        <a href="/dashboard/courses/details/@Model.Id">@RayCourse.Resources.Common.GoToCourse</a>
    </div>
</div>