﻿@model RayCourse.Web.Areas.Dashboard.Models.Courses.DetailsViewModel

@{
    ViewBag.Title = RayCourse.Resources.Common.Details;
}

<h2>@RayCourse.Resources.Common.Details</h2>

<div class="row">
    <div class="col-md-6">
        <fieldset>
            <legend>@RayCourse.Resources.Common.Information</legend>
            <dl>
                <dt>@RayCourse.Resources.Fields.Name</dt>
                <dd>@Model.Name</dd>

                <dt>@RayCourse.Resources.Fields.Type</dt>
                <dd>@Html.DisplayFor(x => x.Type)</dd>

                @if (Model.Type == RayCourse.Models.CourseType.Private)
                {
                    <dt>@RayCourse.Resources.Fields.Password</dt>
                    <dd>@Model.Password</dd>
                }

                <dt>@RayCourse.Resources.Fields.Description</dt>
                <dd>@Model.Description</dd>
            </dl>
        </fieldset>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>@RayCourse.Resources.Common.Articles</h4>
                <ul>
                    @foreach (var article in Model.Articles)
                    {
                        <li><a href="/dashboard/articles/details/@article.Id">@article.Title</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>@RayCourse.Resources.Common.Links</h4>
                <ul>
                    @foreach (var link in Model.Links)
                    {
                        <li><a href="/dashboard/links/details/@link.Id">@link.Title</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>@RayCourse.Resources.Common.Tests</h4>
                <ul>
                    @foreach (var test in Model.Tests)
                    {
                        <li><a href="/dashboard/links/details/@test.Id">@test.Name</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<div>
    <a href="/dashboard/courses/edit/@Model.Id">@RayCourse.Resources.Common.Edit</a> |
    <a href="/dashboard/courses">@RayCourse.Resources.Common.BackToList</a>
</div>
