﻿@model RayCourse.Web.Areas.Dashboard.Models.Courses.IndexViewModel

@{

    ViewBag.Title = RayCourse.Resources.Common.Courses;
    ViewBag.Index = 1;
}

<h2>@RayCourse.Resources.Common.Courses</h2>

<div>
    <a href="/dashboard/courses/create">@RayCourse.Resources.Common.CreateNewCourse</a>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    <a href="/dashboard/courses?page=1&sortBy=name">@RayCourse.Resources.Fields.Name</a>
                </th>
                <th>
                    <a href="/dashboard/courses?page=1&sortBy=type">@RayCourse.Resources.Fields.Type</a>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model.Courses)
            {
                <tr>
                    <td>
                        @(ViewBag.Index + (Model.Page - 1) * 10)
                    </td>
                    <td>
                        <a href="/dashboard/courses/details/@course.Id">@course.Name</a>
                    </td>
                    <td>
                        @Html.DisplayFor(model => course.Type)
                    </td>
                    <td>
                        <a href="/dashboard/courses/details/@course.Id">@RayCourse.Resources.Common.Details</a> |
                        <a href="/dashboard/courses/edit/@course.Id">@RayCourse.Resources.Common.Edit</a> |
                        <a href="/dashboard/courses/delete/@course.Id">@RayCourse.Resources.Common.Delete</a>
                    </td>
                </tr>
                ViewBag.Index++;
            }
        </tbody>
    </table>
</div>
@Html.Partial("_Pager", new RayCourse.Web.Areas.Dashboard.Models.Shared.PagerViewModel
{
    Page = Model.Page,
    PageCount = Model.PageCount,
    BaseUrl = "/dashboard/courses",
    SortingEnabled = true,
    SortBy = Model.SortBy,
})