﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RayCourse</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container body-content">
        @Html.Partial("_HeaderPartial")
        <div class="row">
            <div class="col-md-3 visible-md visible-lg">
                <h3>@RayCourse.Resources.Common.Dashboard</h3>
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="/dashboard/profile">@RayCourse.Resources.Common.Profile</a>
                    </li>
                    <li>
                        <a href="/dashboard/courses">@RayCourse.Resources.Common.Courses</a>
                    </li>
                    <li>
                        <a href="/dashboard/articles">@RayCourse.Resources.Common.Articles</a>
                    </li>
                    <li>
                        <a href="/dashboard/tests">@RayCourse.Resources.Common.Tests</a>
                    </li>
                    <li>
                        <a href="/dashboard/links">@RayCourse.Resources.Common.Links</a>
                    </li>
                </ul>
            </div>
            <div id="content" class="col-md-9">
                @RenderBody()
            </div>
            <div class="col-md-3 hidden-md hidden-lg">
                <h3>@RayCourse.Resources.Common.Dashboard</h3>
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="/dashboard/profile">@RayCourse.Resources.Common.Profile</a>
                    </li>
                    <li>
                        <a href="/dashboard/courses">@RayCourse.Resources.Common.Courses</a>
                    </li>
                    <li>
                        <a href="/dashboard/articles">@RayCourse.Resources.Common.Articles</a>
                    </li>
                    <li>
                        <a href="/dashboard/tests">@RayCourse.Resources.Common.Tests</a>
                    </li>
                    <li>
                        <a href="/dashboard/links">@RayCourse.Resources.Common.Links</a>
                    </li>
                </ul>
            </div>
        </div>
        @Html.Partial("_FooterPartial")
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>