﻿@model RayCourse.Web.Areas.Dashboard.Models.Shared.PagerViewModel

@{
    int k = @Model.Page / 5;
}

@if (Model.Page % 5 == 0)
{
    k--;
}

<ul class="pagination">
    @if (Model.Page > 1)
    {
        @ListItem(1, "<<")
        @ListItem(Model.Page - 1, "<")
    }
    @for (int page = k * 5 + 1; page <= k * 5 + 5 && page <= Model.PageCount; page++)
    {
        @ListItem(page, page.ToString())
    }
    @if (Model.Page != Model.PageCount)
    {
        @ListItem(Model.Page + 1, ">")
        @ListItem(Model.PageCount, ">>")
    }
</ul>

@helper ListItem(int page, string text)
{
    var anchor = new TagBuilder("a");
    string href;
    if (Model.SortingEnabled)
    {
        href = String.Format("{0}?page={1}&sortBy={2}", Model.BaseUrl, page, Model.SortBy);
    }
    else
    {
        href = String.Format("{0}?page={1}", Model.BaseUrl, page);
    }

    anchor.MergeAttribute("href", href);
    anchor.SetInnerText(text);

    if (Model.Page == page)
    {
        <li class="active">
            @Html.Raw(anchor.ToString(TagRenderMode.Normal))
        </li>
    }
    else
    {
        <li>
            @Html.Raw(anchor.ToString(TagRenderMode.Normal))
        </li>
    }
}