﻿@model RayCourse.Web.Models.IndexViewModel
@{
    ViewBag.Title = RayCourse.Resources.Common.Account;
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>@RayCourse.Resources.Common.Settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@RayCourse.Resources.Fields.Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink(RayCourse.Resources.Common.ChangePassword, "ChangePassword")
            }
            else
            {
                @Html.ActionLink(RayCourse.Resources.Common.Create, "SetPassword")
            }
            ]
        </dd>
        <dt>@RayCourse.Resources.Common.ConnectWith:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink(RayCourse.Resources.Common.Manage, "ManageLogins") ]
        </dd>
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.

             See <a href="http://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.

             Uncomment the following block after you have set up two-factor authentication
        *@
        @*
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("Change", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Remove", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Add", "AddPhoneNumber")
                }
                ]
            </dd>
        *@

        <!-- <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>
            @if (Model.TwoFactor)
                {

                    <form method="post" action="/Manage/DisableTwoFactorAuthentication">
                        Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                    </form>
                }
                else
                {

                    <form method="post" action="/Manage/EnableTwoFactorAuthentication">
                        Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                    </form>
                }
        </dd>-->
    </dl>
</div>
